
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    background: rgb(246, 246, 239);
}

h1 {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80px;
    color: rgb(245, 210, 157);
}

.blog {
    box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ffffff;
    border-bottom-style: double;
    border-bottom-width: 10px;
    border-color: #ccc #000;
    
}

.list {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 30px;
    color: rgb(90, 89, 87);
    padding-left: 50px !important;
    border-bottom: 1px solid rgb(236, 227, 227) !important;
}
.list-group-item {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 30px;
    color: rgb(90, 89, 87);
    padding-left: 50px;
    display: inline-flex;
    justify-content: space-between;
}

.contador {
    font-family:"Ojuju", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: rgb(184, 182, 178);
    padding-left: 0% !important ;
}

.fa-xmark:hover {
    color: red;
    transform: scale(1.2);
}

.list-group-item .delete {
    color: white;
}
  
.list-group-item:hover .delete {
    color: rgb(245, 173, 173);
  } 


 /* Poniendo estas clases .delete no me funciona el hover por eso tuve que citar al icono directa,ente arriba///
  /* .delete:hover {
    cursor: pointer;
    transform: scale(1.2);
} */

/* .delete {
    color: rgb(248, 195, 195);
    cursor: pointer;
} */